conda.enabled = true

params {
    // Input/Output
    reads       = null // something like "data/*.fq.gz"
    outdir      = "."
    
    // Target parameters
    sample_id   = "sample"
    coverage    = 35
    genome_size = 850000000 // e.g., 850Mb

    // Conda environments
    // Ensure you have these configured, or replace with Docker/Singularity containers
    seqkit_conda = "/data2/work/local/miniconda/envs/scipy"
    python_conda = "/data2/work/local/miniconda/envs/scipy"
}